<p-dialog header="Create a New Element" [modal]="true" [draggable]="false" [(visible)]="newElementDialogVisible"
          [style]="{ width: '20%' }">
  <form [formGroup]="newElementFormGroup" (submit)="createNewElement()">
    <div class="flex flex-column justify-content-evenly gap-4 mt-4">
      <div class="flex flex-row w-full justify-content-evenly gap-3">
        <input pInputText class="flex-1" id="handle" placeholder="Handle" formControlName="handle"/>
        <p-dropdown appendTo="body" id="elementType" formControlName="elementType" class="flex-0"
                    [options]="elementTypes()"
                    optionLabel="type"></p-dropdown>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="danger" (onClick)="newElementDialogVisible.set(false)" outlined/>
        <p-button label="Save" severity="primary" type="submit" [disabled]="newElementFormGroup.invalid"/>
      </div>
    </div>
  </form>
</p-dialog>
<div class="h-screen overflow-hidden">
  <p-menubar [model]="toolbarItems">
    <p-button label="Home" icon="pi pi-home" routerLink="/dash/overview" outlined></p-button>
  </p-menubar>
  <div class="grid grid-nogutter h-full">
    <div class="xl:col-10 col-12 surface-100 max-h-full px-8 pt-4 overflow-y-auto">
      <div [innerHTML]="contentService.renderedHtml()" class="mb-8"></div>
    </div>
    <div class="xl:col-2 col-12 bg-white max-h-full overflow-auto">
      <p-tabView>
        <p-tabPanel header="Elements">
          <div class="flex flex-column align-items-stretch justify-content-start gap-3">
            @for (element of contentService.elements(); track element.id) {
              <p-button
                [classList]="[(contentService.selectedElement()?.handle == element.handle) ? 'element-button-selected' : 'element-button']"
                (click)="contentService.selectElement(element)" [pTooltip]="element.id"
                [label]="element.handle"></p-button>
            }
          </div>
        </p-tabPanel>
        <p-tabPanel header="Properties" [disabled]="contentService.selectedElement() == undefined">
          <div class="flex flex-column align-items-stretch justify-content-start gap-5">
            <div></div>
            @for (entry of contentService.selectedElementMetadata(); track entry.id) {
              <p-floatLabel>
                @if (this.constraintsOf(entry.key).length > 0) {
                  <p-dropdown id="{{entry.key}}" styleClass="w-full" [options]="this.constraintsOf(entry.key)"></p-dropdown>
                } @else {
                  <input pInputText id="{{entry.key}}" class="w-full" value="{{entry.value}}"/>
                }
                <label for="{{entry.key}}">{{ entry.key }}</label>
              </p-floatLabel>
            }
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
