<h1>Profile</h1>
<div class="mt-7"></div>
<form [formGroup]="profileDetails" class="flex flex-column profile-data-container gap-5"
      *ngIf="!accountService.accountUpdating()">
  <div class="flex flex-row justify-content-center align-items-center gap-6">
      <span class="pi pi-circle-on text-sm text-indigo-200"
            [ngClass]="{ 'pi-circle-on': profileDetails.get('firstName')?.dirty,
            'pi-circle-off': !profileDetails.get('firstName')?.dirty }"></span>
    <p-floatLabel class="flex-grow-1">
      <input id="first-name" class="w-full p-error" formControlName="firstName" pInputText>
      <label for="first-name">First Name</label>
    </p-floatLabel>
  </div>
  <div class="flex flex-row justify-content-center align-items-center gap-6">
      <span class="pi pi-circle-on text-sm text-indigo-200"
            [ngClass]="{ 'pi-circle-on': profileDetails.get('lastName')?.dirty,
            'pi-circle-off': !profileDetails.get('lastName')?.dirty }"></span>
    <p-floatLabel class="flex-grow-1">
      <input id="last-name" class="w-full p-error" formControlName="lastName" pInputText>
      <label for="last-name">Last Name</label>
    </p-floatLabel>
  </div>
  <div class="flex flex-row justify-content-center align-items-center gap-6">
      <span class="pi pi-circle-on text-sm text-indigo-200"
            [ngClass]="{ 'pi-circle-on': profileDetails.get('displayName')?.dirty,
            'pi-circle-off': !profileDetails.get('displayName')?.dirty }"></span>
    <p-floatLabel class="flex-grow-1">
      <input id="display-name" class="w-full p-error" formControlName="displayName" pInputText>
      <label for="display-name">Display Name</label>
    </p-floatLabel>
  </div>
  <div class="flex flex-row justify-content-end gap-3">
    <p-button severity="danger" (click)="cancelEdits()" [disabled]="!profileDetails.dirty">Cancel</p-button>
    <p-button outlined (click)="commitProfileUpdates()" [disabled]="!profileDetails.dirty">Commit</p-button>
  </div>
</form>
<div class="flex flex-column justify-content-center align-items-center w-full mt-8"
     *ngIf="accountService.accountUpdating()">
  <p-progressSpinner></p-progressSpinner>
  <h2>Updating Account Details ...</h2>
</div>
