<form class="flex flex-column justify-content-center" [formGroup]="loginForm" (submit)="login()">
  <p-floatLabel>
    <input id="login-username" class="w-full" formControlName="username" pInputText>
    <label for="login-username">Username</label>
  </p-floatLabel>
  <p-floatLabel class="mt-5 mb-3">
    <input id="login-password" class="w-full" formControlName="password" pInputText>
    <label for="login-username">Password</label>
  </p-floatLabel>
  <div class="flex flex-row justify-content-end">
    <p-button type="submit" icon="pi pi-sign-in" label="Log In" [disabled]="loginForm.invalid"></p-button>
  </div>
</form>
