<p-confirmDialog/>
<p-dialog header="Create a New Topic" [modal]="true" [draggable]="false" [(visible)]="topicCreationDialogVisible"
          [breakpoints]="{ '1199px': '75vw', '575px': '95vw' }" [style]="{'min-width': '45vw'}"
          [contentStyle]="{'overflow':'visible'}">
  <form [formGroup]="topicCreationForm" (ngSubmit)="createTopic()">
    <div class="flex flex-column justify-content-center gap-2">
      <div class="field grid">
        <label class="col-3" for="name">Name</label>
        <div class="col-9">
          <input pInputText id="name" type="text" formControlName="name" class="w-full">
        </div>
      </div>
      <div class="field grid">
        <label class="col-3" for="description">Description</label>
        <div class="col-9">
          <input pInputText id="description" type="text" formControlName="description" class="w-full">
        </div>
      </div>
      <div class="field grid">
        <label class="col-3" for="color">Color</label>
        <div class="col-9">
          <!--          This color picker behaves weird. This behavior is documented (e.g. https://github.com/primefaces/primeng/issues/16586)-->
          <p-colorPicker id="color" format="hex" formControlName="color"/>
        </div>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="danger" (onClick)="topicCreationDialogVisible = false" outlined/>
        <p-button label="Save" severity="primary" type="submit" [disabled]="topicCreationForm.invalid"/>
      </div>
    </div>
  </form>
</p-dialog>
<p-dialog header="Edit Topic" [modal]="true" [draggable]="false" [(visible)]="topicEditDialogVisible"
          [breakpoints]="{ '1199px': '75vw', '575px': '95vw' }" [style]="{'min-width': '45vw'}"
          [contentStyle]="{'overflow':'visible'}">
  <form [formGroup]="topicEditForm" (ngSubmit)="submitTopicEdit()">
    <div class="flex flex-column justify-content-center gap-2">
      <div class="field grid">
        <label class="col-3" for="name">Name</label>
        <div class="col-9">
          <input pInputText id="name" type="text" formControlName="name" class="w-full">
        </div>
      </div>
      <div class="field grid">
        <label class="col-3" for="description">Description</label>
        <div class="col-9">
          <input pInputText id="description" type="text" formControlName="description" class="w-full">
        </div>
      </div>
      <div class="field grid">
        <label class="col-3" for="color">Color</label>
        <div class="col-9">
          <!--          This color picker behaves weird. This behavior is documented (e.g. https://github.com/primefaces/primeng/issues/16586)-->
          <p-colorPicker id="color" format="hex" formControlName="color"/>
          `
        </div>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="danger" (onClick)="topicEditDialogVisible = false" outlined/>
        <p-button label="Commit" severity="primary" type="submit" [disabled]="topicEditForm.invalid"/>
      </div>
    </div>
  </form>
</p-dialog>
<div class="flex flex-row justify-content-between align-items-center w-full">
  <div class="flex flex-row justify-content-center align-items-center gap-4">
    <h1>Topics</h1>
    <p-button severity="success" icon="pi pi-plus" (click)="initTopicCreation()" outlined></p-button>
  </div>
</div>
<div class="mt-3"></div>
<p-table [value]="contentService.topics()" [loading]="contentService.topicsLoading()"
         styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th>UUID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Editable</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-topic>
    <tr>
      <td>{{ topic.id }}</td>
      <td>
        <div class="text-center border-round-3xl p-1 px-2 inline-block"
             [style.background-color]="'#' + topic.color"
             [style.color]="'#' + topic.textColor">
          {{ topic.name }}
        </div>
      </td>
      <td>{{ topic.description }}</td>
      <td>
        @if (topic.editable) {
          <i class="pi pi-check text-green-700"></i>
        } @else {
          <i class="pi pi-times text-red-700"></i>
        }
      </td>
      <td>
        <div class="flex flex-row gap-2">
          <p-button severity="primary" outlined icon="pi pi-pencil" [pTooltip]="'Edit Topic'"
                    (click)="initTopicEdit(topic)"></p-button>
          <p-button severity="danger" outlined icon="pi pi-trash" [disabled]="topic.isFallback"
                    [pTooltip]="'Delete Topic'"
                    (click)="deleteTopic(topic)"></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between mt-1">
      @if (contentService.topics().length == 0) {
        No topics found.
      } @else {
        Loaded {{ contentService.topics().length }} {{ contentService.topics().length == 1 ? "topic" : "topics" }}
      }
    </div>
  </ng-template>
</p-table>
