@import "primeng/resources/themes/lara-light-purple/theme.css";

// I know it's tempting, but you *really* should not change this.
$sidebar-entry-height: 3rem;

.sidebar-entry {
  width: 100%;
  font-size: $sidebar-entry-height - 1.5;
  text-align: start;
  font-weight: lighter;
  height: $sidebar-entry-height;
  line-height: $sidebar-entry-height;
  user-select: none;
  cursor: pointer;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  background: transparent;
}

.sidebar-entry:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.sidebar-icon {
  margin-right: 1rem;
  font-size: 1.3rem;
  display: inline;
}

.sidebar {
  background: linear-gradient(-45deg, var(--orange-500) 0%, var(--orange-400) 100%);
}

.separator-line {
  height: 0;
  border-top: dashed rgba(255, 255, 255, 0.7) 1px;
  width: 10%;
  margin-top: -1rem;
  margin-bottom: 1.6rem;
}

::ng-deep .sidebar-button .p-button {
  background: transparent !important;
  border: none;
}
