@import "primeng/resources/themes/lara-light-purple/theme.css";

// I know it's tempting, but you *really* should not change this.
$sidebar-entry-height: 3rem;

.sidebar-entry {
  font-size: $sidebar-entry-height - 1.5;
  text-align: start;
  font-weight: lighter;
  height: $sidebar-entry-height;
  line-height: $sidebar-entry-height;
  user-select: none;
  cursor: pointer;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.sidebar-entry:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.sidebar-icon {
  margin-right: 1rem;
  font-size: 1.3rem;
  display: inline;
}

.separator-line {
  height: 0;
  border-top: dashed rgba(255, 255, 255, 0.7) 1px;
  width: 10%;
  margin-top: -1rem;
  margin-bottom: 1.6rem;
}

:host ::ng-deep .sidebar-button .p-button {
  background: transparent !important;
  border: none;
  transition: 0s;
}

.sidebar-entry-inside {
  width: 190px;
}

.sidebar {
  //background: linear-gradient(-45deg, rgba(255, 195, 18,1.0) -40%, rgba(237, 76, 103,1.0) 120%);
  z-index: 1;
}

::ng-deep body {
  margin-bottom: 0 !important;
}
