@import "primeng/resources/themes/lara-light-purple/theme.css";

$sidebar-entry-height: 3rem;

.sidebar-entry {
  width: 100%;
  font-size: $sidebar-entry-height - 1.2;
  text-align: start;
  font-weight: lighter;
  height: $sidebar-entry-height;
  line-height: $sidebar-entry-height;
  transition: .1s ease-in-out;
  user-select: none;
  cursor: pointer;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.sidebar-entry:hover {
  background-color: var(--orange-400) !important;
}

.sidebar-icon {
  margin-right: 1rem;
  font-size: 1.3rem;
  display: inline;
}

.separator-line {
  height: 0;
  border-top: dashed rgba(255, 255, 255, 0.5) 1px;
  width: 10%;
  margin-top: -1rem;
  margin-bottom: 1.6rem;
}
