<div class="grid h-screen">
  <div class="xl:col-2 lg:col-4 col-12 sm:pb-6 flex flex-column p-0 sidebar bg-primary lg:shadow-8 sm:shadow-5">
    <div class="mt-6"></div>
    <div class="text-center">
      <div class="pi pi-user inline text-white mr-2 sidebar-icon"></div>
      <h2 class="text-white inline">{{ currentUser().displayName }}</h2>
    </div>
    <div class="mt-4"></div>
    <div class="text-white-alpha-70 sidebar-entry" routerLink="/dash/overview" pRipple>
      <div class="sidebar-entry-inside">
        <div class="pi pi-warehouse sidebar-icon"></div>
        Content
      </div>
    </div>
    <div class="text-white-alpha-70 sidebar-entry" routerLink="/dash/profile" pRipple>
      <div class="sidebar-entry-inside">
        <div class="pi pi-user sidebar-icon"></div>
        Profile
      </div>
    </div>
    <div class="text-white-alpha-70 sidebar-entry" routerLink="/dash/maintenance" pRipple>
      <div class="sidebar-entry-inside">
        <div class="pi pi-wrench sidebar-icon"></div>
        Maintenance
      </div>
    </div>
    <div class="text-white-alpha-70 sidebar-entry" routerLink="/dash/analytics" pRipple>
      <div class="sidebar-entry-inside">
        <div class="pi pi-wave-pulse sidebar-icon"></div>
        Analytics
      </div>
    </div>
    <div class="flex-grow-1"></div>
    <div class="flex flex-row justify-content-evenly">
      <p-button label="Log out" icon="pi pi-sign-out" class="sidebar-button" (click)="signOut()"></p-button>
    </div>
  </div>
  <div class="xl:col-10 lg:col-8 col-12 surface-100 xl:px-6 px-2 xl:py-5 py-1">
    <router-outlet></router-outlet>
  </div>
</div>
