<div class="grid">
  <div class="xl:col-2 lg:col-4 col-12 xl:h-screen lg:h-screen sm:pb-6 shadow-7 flex flex-column p-0 sidebar">
    <p class="text-center text-white-alpha-90 text-4xl">Dashboard</p>
    <div class="w-full flex flex-row align-items-center justify-content-center">
      <div class="separator-line"></div>
    </div>
    <div class="text-white-alpha-70 sidebar-entry px-4">
      <div class="pi pi-warehouse sidebar-icon"></div>
      Content
    </div>
    <div class="text-white-alpha-70 sidebar-entry px-4">
      <div class="pi pi-user sidebar-icon"></div>
      Profile
    </div>
    <div class="text-white-alpha-70 sidebar-entry px-4">
      <div class="pi pi-wrench sidebar-icon"></div>
      Maintenance
    </div>
    <div class="text-white-alpha-70 sidebar-entry px-4">
      <div class="pi pi-wave-pulse sidebar-icon"></div>
      Analytics
    </div>
    <div class="flex-grow-1"></div>
    <div class="flex flex-row justify-content-evenly">
      <p-button label="Log out" icon="pi pi-sign-out" class="sidebar-button" (click)="signOut()"></p-button>
    </div>
  </div>
  <div class="xl:col-10 lg:col-8 col-12 min-h-screen surface-100">
  </div>
</div>
