<canvas #backgroundCanvas id="background-canvas"></canvas>
<div class="frosted-glass"></div>
<div class="flex justify-content-center align-items-center grid grid-nogutter auth-wrapper">
  <p-card id="login-card" class="xl:col-4 col-12" header="Log In">
    <div class="mt-2"></div>
    <form class="flex flex-column justify-content-center">
      <p-floatLabel>
        <input id="login-username" class="w-full" pInputText>
        <label for="login-username">Username</label>
      </p-floatLabel>
      <p-floatLabel class="mt-5 mb-3">
        <input id="login-password" class="w-full" pInputText>
        <label for="login-username">Password</label>
      </p-floatLabel>
      <div class="flex flex-row justify-content-end">
        <p-button outlined>Log In</p-button>
      </div>
    </form>
  </p-card>
</div>
